<div ng-controller="EncuestadoresCtrl">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/dashboard.html">Medicare <span></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nuevoEncuestador.html">Nuevo encuestador</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/encuestadores.html">Encuestadores</a>
                </li>
            </ul>

            <a class="nav-link" href="login.html">Cerrar Sesión</a>
        </div>
    </nav>

    <div class="container text-center">
        <h2>Encuestadores</h2>
    </div>

<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th>N.</th>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Primer apellido</th>
        <th>Segundo apellido</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>nombre1</td>
        <td>usuario1</td>
        <td>apellido1</td>
        <td>apellido2</td>
      </tr>
      <tr>
        <td>2</td>
        <td>nombre2</td>
        <td>usuario2</td>
        <td>apellido1</td>
        <td>apellido2</td>
      </tr>
      <tr>
        <td>3</td>
        <td>nombre3</td>
        <td>usuario3</td>
        <td>apellido1</td>
        <td>apellido2</td>
      </tr>
    </tbody>
  </table>
</div>
    <!-- /.container -->
</div>
