<div ng-controller="EncuestadoresCtrl">


    <div class="row-xs-12 text-center">
        <h1> Nuevo Encuestador</h1>
    </div>
    <br>
    <br>

    <div class="container">
        <div class="row-xs-12">
            <form>
                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="email" class="form-control" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <label>Primer Apellido:</label>
                    <input type="email" class="form-control" placeholder="Primer apellido">
                </div>
                <div class="form-group">
                    <label>Segundo Apellido:</label>
                    <input type="email" class="form-control" placeholder="Segundo apellido">
                </div>
                <div class="form-group">
                    <label>Fecha de nacimiento:</label>
                    <input type="date" class="form-control" placeholder="Fecha nacimiento">
                </div>
                <div class="form-group">
                    <label>Sexo:</label>
                <select class="form-control" id="exampleSelect1">
                      <option>Masculino</option>
                      <option>Femenino</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>INE:</label>
                    <input type="text" class="form-control" placeholder="INE">
                </div>
                <div class="form-group">
                    <label>NSS:</label>
                    <input type="text" class="form-control" placeholder="Numero Seguridad Social">
                </div>
                <div class="form-group">
                    <label>Usuario:</label>
                    <input type="text" class="form-control" placeholder="Usuario">
                </div>
                <div class="form-group">
                    <label>Contraseña:</label>
                    <input type="password" class="form-control" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <label>Repita la contraseña:</label>
                    <input type="password" class="form-control" placeholder="Contraseña">
                </div>
                <div class="text-center">
                    <a class="btn btn-primary" href="/dashboard.html">Guardar</a>
                </div>

            </form>
        </div>
    </div>
    <!-- /.container -->

 </div>
