<div ng-controller="EncuestadoresCtrl">


    <div class="row-xs-12 text-center">
        <h1> Ver Encuestador</h1>
    </div>
    <br>
    <br>

    <div class="container">
        <div class="row-xs-12">
            <form>
                <div class="form-group ">
                    <label class="font-weight-bold">Nombre:</label>
                    <label> nombre1</label>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Primer Apellido:</label>
                    <label>apellido 1</label>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Segundo Apellido:</label>
                    <label> apellido 2</label>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Fecha de nacimiento:</label>
                    <label>dd/mm/yyyy</label>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Sexo:</label>
                    <label> masculino</label>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">INE:</label>
                    <label>12389283</label>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">NSS:</label>
                    <label>123123123</label>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Usuario:</label>
                    <label>usuario1</label>
                </div>

                <div class="row-xs-12">
                <div class="row-xs-6 text-center">

                        <a class="btn btn-warning" href="/modificarEncuestador.html">Modificar</a>
                </div>
                <br>
                <div class="row-xs-6 text-center">
                    <a class="btn btn-danger" href="/dashboard.html">Eliminar</a>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
