
<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">webstormProjects</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li><a ng-href="#!/loginAdministrador">Administrador</a></li>

          <li><a ng-href="#!/loginEncuestador">Encuestador</a></li>

          <li><a ng-href="#!/loginCliente">Cliente</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <div class="row-md-2 container text-center">
    <h1>Medicare</h1>
    <img src="../../images/medicine.png" width="200" height="200">
    <hr class="style2">
  </div>




