<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#!/loginAdmin">Medicare <span></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/homeAdmin">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/nuevaEncuesta.html">Nuevo encuestador</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/encuestas.html">Encuestadores</a>
            </li>

        </ul>

        <a class="nav-link" href="login.html">Cerrar Sesión</a>
    </div>
</nav>
