<md-dialog class=" dialog-background ">

    <div class="col-sm-12">
        <div class="col-sm-12 center-text">
            <h3 class="texto-cabecera">Agregar Pregunta</h3>
            <br>
            <br>
            <br>
        </div>

        <div class="container">

            <div class="row">
                <form>
                    <div class="form-group col-sm-7">
                        <label>Escriba su pregunta:</label>
                        <input type="text" class="form-control" ng-model="modelo.nombre" placeholder="Pregunta">
                    </div>
                    <div class="form-group col-sm-7">
                        <label>Escoja su tipo de respuesta:</label>

                        <select class="form-control">
                            <option></option>
                            <option ng-click="getSeleccion($index)" ng-repeat="opcion in modelo.tipos">
                                {{opcion.nombre}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-sm-7">
                        <label>Escriba su respuesta:</label>
                        <input type="text" class="form-control" ng-model="modelo.respuesta.texto"placeholder="Respuesta">
                    </div>
                    <br>
                </form>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <label class="font-weight-bold">Agregar respuesta:</label>
                            <a class="btn btn-primary" ng-click="agregar()">Agregar</a>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="list-group">
                                <!-- Cambiar a ng-repeat -->
                                <div ng-repeat="respuesta in modelo.respuestas" class="row list-group-item list-group-item-action">
                                    <div class="col-xs-6">
                                        <label class="mr-5">{{respuesta.texto}}</label>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <a ng-click="eliminar($index)" class="btn btn-danger ml-5">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <a ng-click="guardar()" class="btn btn-success ml-5">Guardar</a>
                        </div>
                        <div class="col-sm-6 text-center">
                            <a ng-click="close()" class="btn btn-danger ml-5">Cancelar</a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>

    </div>


</md-dialog>

