<ng-navigation-encuestador></ng-navigation-encuestador>

<div ng-controller="EncuestasCtrl">

    <div class="container text-center">
        <h2>Encuestas</h2>
    </div>

<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th>Identificador</th>
        <th>Nombre Encuesta</th>
        <th>Fecha de creación</th>
      </tr>
    </thead>
    <tbody>
    <tr class="table-row-clientes" ng-repeat="encuesta in modelo.encuestas"
        ng-click="visualizarEncuesta(encuesta.nombre)">
      <td>{{encuesta.uuid}}</td>
      <td>{{encuesta.nombre}}</td>
      <td>{{encuesta.f_creacion}}</td>

    </tbody>
  </table>
</div>
</div>
