<div ng-controller="EncuestasCtrl">

    <div class="container text-center">
        <h2>Encuestas</h2>
    </div>

<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th>Identificador</th>
        <th>Nombre Encuesta</th>
        <th>Fecha de creación</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            <a href="/visualizarEncuesta.html">A0123</a>
        </td>
        <td>
            <a href="/visualizarEncuesta.html">nombre1</a>
        </td>
        <td>
            <a href="/visualizarEncuesta.html">dd-mm-yyyy</a>
        </td>
      </tr>
      <tr>
        <td>A0124</td>
        <td>nombre2</td>
        <td>dd-mm-yyyy</td>
      </tr>
      <tr>
        <td>A0125</td>
        <td>nombre3</td>
        <td>dd-mm-yyyy</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
