
<div ng-controller="LoginEncuestadorCtrl">
<div class="row-md-2 container text-center">
  <h1>Medicare</h1>
    <img src="images/medicine.png" width="100" height="100">
  <hr class="style2">
</div>


<div class="row-md-2 top-padding-5">
  <div class="container">

    <div class="jumbotron">
        <div class="row-xs-12">
            <form>
                <div class="form-group">
                    <label>Usuario:</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="usuario" aria-describedby="emailHelp" placeholder="Usuario">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Contraseña:</label>
                    <input type="password" class="form-control" id="exampleInputEmail1" ng-model="modelo.pass" aria-describedby="emailHelp" placeholder="Contraseña">
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" ng-click="login()">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
</div>
