<div ng-controller="EncuestasCtrl">


    <div class="row-xs-12 text-center">
        <h1> Modificar encuesta</h1>
    </div>
    <br>
    <br>

        <div class="container">
            <div class="row">
                     <div class="col-sm-12">
                        <label>Nombre de la encuesta:</label>
                        <input type="email" class="form-control" value= "nombre 1" placeholder="Nombre encuesta">
                    </div>
            </div>
            <br>
            <br>
            <div class="row">
                    <div class="col-sm-8">
                        <label>Nombre de la categoría:</label>
                        <input type="email" class="form-control" placeholder="Nombre categoría">
                    </div>
                    <div class="col-sm-2">
                        <label>Agregar categoría:</label>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary">Agregar</a>
                    </div>
            </div>
            <br>
            <div class="container">
                <label>Categorías de preguntas:</label>
            </div>
            <br>

            <div class="row">
                <div class="col-sm-12">
                    <div class="list-group">
                    <a href="/verCategoria.html" class="list-group-item list-group-item-action">Categoría 1</a>
                    <a href="#" class="list-group-item list-group-item-action">Categoría 2</a>
                    <a href="#" class="list-group-item list-group-item-action">Categoría 3</a>
                </div>
                </div>

            </div>
            </div>
</div>
