

<ng-navigation-encuestador></ng-navigation-encuestador>

<div ng-controller="EncuestasCtrl">


    <div class="row-xs-12 text-center">
        <h1> Nueva encuesta</h1>
    </div>
    <br>
    <br>

        <div class="container">
            <div class="row">
                     <div class="col-sm-12">
                        <label>Nombre de la encuesta:</label>
                        <input type="text" class="form-control" ng-model="modelo.encuesta.nombre" placeholder="Nombre encuesta">
                    </div>
            </div>
            <br>
            <br>
            <div class="row">
                    <div class="col-sm-8">
                        <label>Nombre de la categoría:</label>
                        <input type="text" class="form-control" ng-model="modelo.categoria.nombre" placeholder="Nombre categoría">
                    </div>
                    <div class="col-sm-2">
                        <label>Agregar categoría:</label>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" ng-click="agregarCategoria()">Agregar</a>

                    </div>

            </div>

            <br>
            <div class="container">
                <label>Categorías de preguntas:</label>
            </div>
            <br>

            <div class="row">
                <div class="col-sm-12">
                    <div class="list-group">
                    <a ng-click="agregarPreguntasFromCategory($index)" class="list-group-item list-group-item-action" ng-repeat="categoria in modelo.categorias">
                        <div>{{categoria.nombre}}</div>
                    </a>

                </div>
                </div>

            </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a class="btn btn-success" ng-click="guardarEncuesta()">Guardar</a>
                </div>
            </div>

</div>
