<div ng-controller="EncuestasCtrl">

    <div class="container">
        <p>Introduzca el siguiente código en el cliente del encuestado:</p>
        <div class="jumbotron">

      <br>
        <div class="row justify-content-center">
            <div class="col-sm-12 text-center">
                <h3>Código de encuesta generado</h3>
            </div>
            <div class="col-sm-4  border border-dark text-center">
                <h1>A01832FE</h1>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <a href="/visualizarEncuesta.html" class="btn btn-primary">Aceptar</a>
            </div>
        </div>

    </div>
</div>
