<div ng-controller="EncuestasCtrl">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/dashboard.html">Medicare <span></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nuevaEncuesta.html">Nueva encuesta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/encuestas.html">Encuestas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/configurarReporte.html">Configurar Reporte</a>
                </li>
            </ul>

            <a class="nav-link" href="login.html">Cerrar Sesión</a>
        </div>
    </nav>
    <div class="container">
        <p>Introduzca el siguiente código en el cliente del encuestado:</p>
        <div class="jumbotron">

      <br>
        <div class="row justify-content-center">
            <div class="col-sm-12 text-center">
                <h3>Código de encuesta generado</h3>
            </div>
            <div class="col-sm-4  border border-dark text-center">
                <h1>A01832FE</h1>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <a href="/visualizarEncuesta.html" class="btn btn-primary">Aceptar</a>
            </div>
        </div>

    </div>
</div>
