<div ng-controller="PreguntasCtrl">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/dashboard.html">Medicare <span></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard.html">Inicio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/nuevaEncuesta.html">Nueva encuesta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/encuestas.html">Encuestas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/configurarReporte.html">Configurar Reporte</a>
                </li>
            </ul>

            <a class="nav-link" href="login.html">Cerrar Sesión</a>
        </div>
    </nav>

    <div class="row-xs-12 text-center">
        <h1> Visualizar Encuesta</h1>
    </div>
    <br>
    <br>

        <div class="container">
            <div class="row">
                     <div class="col-sm-12">
                        <label class="font-weight-bold">Nombre de la categoría:</label>
                        <label>categoría 1</label>
                    </div>
            </div>
            <br>
            <br>
            <div class="jumbotron">
                <div class="container">
                    <label class="font-weight-bold">Preguntas:</label>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="list-group">
                        <a href="/verCategoria.html" class="list-group-item list-group-item-action">Pregunta 1</a>
                        <a href="#" class="list-group-item list-group-item-action">Pregunta 2</a>
                        <a href="#" class="list-group-item list-group-item-action">Pregunta 3</a>
                    </div>
                    </div>

                </div>
            </div>
        </div>

    <div class="row">
            <div class="col-sm-12 text-center">
                <a class="btn btn-primary" href="/visualizarEncuesta.html">Atrás</a>
            </div>
        </div>
</div>
