

<ng-navigation-encuestador></ng-navigation-encuestador>

<div ng-controller="EncuestaDetalleCtrl">


    <div class="row-xs-12 text-center">
        <h1> Visualizar encuesta</h1>
    </div>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                Nombre de la encuesta:
               <h2>{{modelo.encuesta.nombre}}</h2>
            </div>
        </div>
        <br>

        <br>
        <div class="container">
            <label>Categorías de preguntas:</label>
        </div>
        <br>

        <div class="container">

                <div class="col-sm-12 text-center" ng-repeat="categoria in modelo.encuesta.categorias">
                    <div class="jumbotron">
                        <div class="row">
                            <h3>{{categoria.nombre}}</h3>
                            <div class="col-sm-12 text-left" ng-repeat="pregunta in categoria.pregunta">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4>{{pregunta.nombre}}</h4>
                                    </div>
                                    <div class="col-sm-12" ng-repeat="respuesta in pregunta.respuesta">
                                        {{respuesta.nombre}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

        </div>


    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 text-center">
            <a class="btn btn-success" ng-click="guardarEncuesta()">Guardar</a>
        </div>
    </div>

</div>
